# R
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.tar.gz
*.Rcheck/
.bufferedThresholdPanel.Rproj
Rplots.pdf

# macOS
.DS_Store

# IDE
.idea/

# Node (should never be here for an R package)
node_modules/
package-lock.json
package.json
